#  Ignore PhpStorm project directory
.idea

# Ignore NPM packages
node_modules

# Ignore the TypeScript build directory (config file is included so projects can
# be rebuilt consistently
lib/

#  Ignore user data files
data/

#  Ignore JSDoc documentation directory, which can be reconstructed at any
#  time based on JSDoc comments in the source files
doc/*

#  Ignore log files
log/*

#  Ignore Git message files
*-message.md
*-msg.md
*-message.txt
*-msg.txt
*-message.bk
*-msg.bk
