//  Ignore PhpStorm project directory
.idea/*

//  Ignore user data files
data/*

//  Ignore JSDoc documentation directory, which can be reconstructed at any
//  time based on JSDoc comments in the source files
doc/*

//  Ignore log files
log/*

//  Ignore Git message files
message*.*
commit-message.md

//  Ignore images
*.png
*.gif
